In [4]:
#que1(1)
import pandas as pd
df = pd.read_csv('2017_Yellow_Taxi_Trip_Data.csv')
df

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,1,N,100,231,1,13.0,0.0,0.5,2.76,0.00,0.3,16.56
1,35634249,1,04/11/2017 2:53:28 PM,04/11/2017 3:19:58 PM,1,1.80,1,N,186,43,1,16.0,0.0,0.5,4.00,0.00,0.3,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,1,N,262,236,1,6.5,0.0,0.5,1.45,0.00,0.3,8.75
3,38942136,2,05/07/2017 1:17:59 PM,05/07/2017 1:48:14 PM,1,3.70,1,N,188,97,1,20.5,0.0,0.5,6.39,0.00,0.3,27.69
4,30841670,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37,1,N,4,112,2,16.5,0.5,0.5,0.00,0.00,0.3,17.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22694,14873857,2,02/24/2017 5:37:23 PM,02/24/2017 5:40:39 PM,3,0.61,1,N,48,186,2,4.0,1.0,0.5,0.00,0.00,0.3,5.80
22695,66632549,2,08/06/2017 4:43:59 PM,08/06/2017 5:24:47 PM,1,16.71,2,N,132,164,1,52.0,0.0,0.5,14.64,5.76,0.3,73.20
22696,74239933,2,09/04/2017 2:54:14 PM,09/04/2017 2:58:22 PM,1,0.42,1,N,107,234,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30
22697,60217333,2,07/15/2017 12:56:30 PM,07/15/2017 1:08:26 PM,1,2.36,1,N,68,144,1,10.5,0.0,0.5,1.70,0.00,0.3,13.00
22698,17208911,1,03/02/2017 1:02:49 PM,03/02/2017 1:16:09 PM,1,2.10,1,N,239,236,1,11.0,0.0,0.5,2.35,0.00,0.3,14.15

In [5]:
df.info()
#there are 3 data types: int64, object and float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
 6   RatecodeID             22699 non-null  int64
 7   store_and_fwd_flag     22699 non-null  object
 8   PULocationID           22699 non-null  int64
 9   DOLocationID           22699 non-null  int64
 10  payment_type           22699 non-null  int64
 11  fare_amount            22699 non-null  float64
 12  extra                  22699 non-null  float64
 13  mta_tax                22699 non-null  float64
 14  tip_amount             22699 non-null  float64
 15  tolls_amount           22699 non-null  float64
 16  improvement_surcharge  22699 non-null  float64
 17  total_amount           22699 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.1+ MB

In [6]:
df.isnull().sum()
#no null objects

Unnamed: 0               0
VendorID                 0
tpep_pickup_datetime     0
tpep_dropoff_datetime    0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
dtype: int64

In [7]:
#que1(2)
df.describe()
"""
1.yes, the minimum amount ins the fare amount is negative and extra is also negative
2. ratecodeid ranges from 1 to 6 but max was 99
"""

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,2.269900e+04,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000
mean,5.675849e+07,1.556236,1.642319,2.913313,1.043394,162.412353,161.527997,1.336887,13.026629,0.333275,0.497445,1.835781,0.312542,0.299551,16.310502
std,3.274493e+07,0.496838,1.285231,3.653171,0.708391,66.633373,70.139691,0.496211,13.243791,0.463097,0.039465,2.800626,1.399212,0.015673,16.097295
min,1.212700e+04,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-120.000000,-1.000000,-0.500000,0.000000,0.000000,-0.300000,-120.300000
25%,2.852056e+07,1.000000,1.000000,0.990000,1.000000,114.000000,112.000000,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.750000
50%,5.673150e+07,2.000000,1.000000,1.610000,1.000000,162.000000,162.000000,1.000000,9.500000,0.000000,0.500000,1.350000,0.000000,0.300000,11.800000
75%,8.537452e+07,2.000000,2.000000,3.060000,1.000000,233.000000,233.000000,2.000000,14.500000,0.500000,0.500000,2.450000,0.000000,0.300000,17.800000
max,1.134863e+08,2.000000,6.000000,33.960000,99.000000,265.000000,265.000000,4.000000,999.990000,4.500000,0.500000,200.000000,19.100000,0.300000,1200.290000

In [55]:
"""
summary:

It can be infered that the model mainly depends on trip_distance and total_amount 
factors. So, first remove all the columns which have no weightage in training 
the model like 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'store_and_fwd_flag'
and train it with randomforestregressor model because it requires less preprocessing 
than other models. It also performs well for regression problems which makes it
a good option for predicting modeling tasks.

"""

'\n# summary about the data to inform next steps:\n\n\n'

In [57]:
#que 2(1)
sorted_df = df.sort_values(by='trip_distance', ascending=False)
sorted_df['trip_distance']
#distance is in zero

9280     33.96
13861    33.92
6064     32.72
10291    31.95
29       30.83
         ...
2440      0.00
15916     0.00
1350      0.00
246       0.00
17788     0.00
Name: trip_distance, Length: 22699, dtype: float64

In [19]:
#que 2(2)
sorted_df = df.sort_values(by='total_amount', ascending=False)
sorted_df['total_amount']
#it is observed that total amount is negative

8476     1200.29
20312     450.30
13861     258.21
12511     233.74
15474     211.80
          ...
11204      -5.30
14714      -5.30
17602      -5.80
20698      -5.80
12944    -120.30
Name: total_amount, Length: 22699, dtype: float64

In [58]:
#que 2(3)
"""
no, the resulting rows are not similar for both sorts because the values
differ for various factors like tip amount, fare 
amount(due to pickup and drop off location).
"""

'\nno, the resulting rows are not similar for both sorts because the values\ndiffer for various factors like tip amount, fare \namount(due to pickup and drop off location).\n'

In [45]:
#que 3

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

In [33]:
df_dummies = pd.get_dummies(df, columns=['store_and_fwd_flag'])

In [35]:
df_comb = pd.concat([df, df_dummies], axis =1)

In [36]:
X = df_comb.drop(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'store_and_fwd_flag'], axis=1)

In [37]:
Y = df_comb['total_amount']

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [50]:
model = RandomForestRegressor()
model.fit(X_train, Y_train)

RandomForestRegressor()

In [51]:
Y_pred = model.predict(X_test)

In [52]:
mae = mean_absolute_error(Y_test, Y_pred)
mse = mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse)

In [53]:
r2 = r2_score(Y_test, Y_pred)

In [54]:
print("mean absolute error(mae):", mae)
print("mean squared error(mse):", mse)
print("root mean squared error(rmse):", rmse)
print(f"prediction accuracy: {r2 * 100:.2f}%")

mean absolute error(mae): 0.20461922907489533
mean squared error(mse): 171.51719519576437
root mean squared error(rmse): 13.096457352878463
prediction accuracy: 64.56%